<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .text-color-mz1 {
            color: darkgreen;
        }

        .bg-color-mz1 {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body class="bg-light">
<div class="container-fluid bg-white shadow-sm mt-5 mb-2 text-color-mz1 fs-4 text-center fw-bolder pt-3 pb-3">
    Java Start. Lombok i RestTemplate. Cwiczenie 31_1 Kursy walut (https://fixer.io/).
</div>
<div class="container-fluid row text-center mt-5">
    <div class="col"></div>
    <div class="col-md-6 border border-success rounded text-color-mz1 p-5">
        <h1>Brak możliwości pobrania danych</h1>

    </div>
    <div class="col"></div>
</div>
<div  class="container-fluid row text-center mt-5">
    <a href="/" class="link-secondary">Powrót do strony głównej</a>
</div>
<div class="container-fluid bg-color-mz1 text-secondary shadow-sm mt-5 mb-2 fs-6 text-center pt-3 pb-3">
    Michał Zygor, 11.03.2021
</div>

</body>
</html>